/* Preview font */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond-normal {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-italic {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.eb-garamond-bold-italic {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

/* Page styling */

:root {
  --background-color: grey;
  --font-color: whitesmoke;
  --header-height: min(6vw, 60px);
  --footer-height: min(6vw, 60px);
  --hover: hsl(0, 0%, 96%, 0.2);
  --active: hsl(0, 0%, 96%, 0.4);

  --red-button: rgb(255, 192, 203, 0.9);
  --red-button-hover: rgb(255, 192, 203, 0.8);
  --red-button-active: rgb(255, 192, 203);
  --blue-button: rgb(224, 255, 255, 0.9);
  --blue-button-hover: rgb(224, 255, 255, 0.8);
  --blue-button-active: rgb(224, 255, 255);
  --green-button: rgb(152, 251, 152, 0.9);
  --green-button-hover: rgb(152, 251, 152, 0.8);
  --green-button-active: rgb(152, 251, 152);
}

body {
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  color: var(--font-color);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */

.appLogo {
  /* whitesmoke color */
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);

  max-height: 90%;
}

header {
  height: var(--header-height);
  padding: 0 1rem;

  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.6);
  z-index: 1;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.appTitle {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: bolder;
}

/* Content styling */

.contentContainer {
  flex-grow: 1;
  max-height: calc(100vh - var(--header-height) - var(--footer-height));

  display: flex;
}

  /* Form styling */

  .formContainer {
    background-color: slategray;
    width: 35vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2vw;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  .menuBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-self: center;
  }

  .btn {
    padding: 0.5vw 1vw;
  }

  .redBtn {
    background-color: var(--red-button);
    border: 0;
    border-radius: 6px;
  }

  .redBtn:hover {
    background-color: var(--red-button-hover);
  }

  .redBtn:active {
    background-color: var(--red-button-active);
  }

  .blueBtn {
    background-color: var(--blue-button);
    border: 0;
    border-radius: 6px;
  }

  .blueBtn:hover {
    background-color: var(--blue-button-hover);
  }

  .blueBtn:active {
    background-color: var(--blue-button-active);
  }

  .greenBtn {
    background-color: var(--green-button);
    border: 0;
    border-radius: 6px;
  }

  .greenBtn:hover {
    background-color: var(--green-button-hover);
  }

  .greenBtn:active {
    background-color: var(--green-button-active);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mainFieldset {
    border: 2px solid var(--font-color);
    border-radius: 6px;
    padding: 1vw;
    gap: 1vw;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }

  .dropdownContainer {
    cursor: pointer;
    font-size: 1.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: min(0.5rem, 1vw) min(1rem, 2vw);
    border-radius: calc(1rem + 0.25rem);
  }

  .dropdownContainer:hover {
    background-color: var(--hover);
  }

  .dropdownContainer:active {
    background-color: var(--active);
  }

  .fieldsetHeader {
    font-weight: bold;
  }

  .chevronIcon {
    width: 1.3rem;
    /* whitesmoke color: */
    filter: invert(99%) sepia(8%) saturate(128%) hue-rotate(233deg) brightness(112%) contrast(92%);
  }

  .formSectionHeader {
    display: flex;
    gap: 4px;
  }

  .formSectionTitleContainer {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: min(0.4rem, 1vw) min(0.8rem, 2vw);
    padding-right: min(0.4rem, 1vw);
    border-radius: calc(1rem + 0.2rem);
  }

  .formSectionTitleContainer:hover {
    background-color: var(--hover);
  }

  .formSectionTitleContainer:active {
    background-color: var(--active);
  }

  .formSectionTitle {
    text-align: center;
    font-weight: bold;
  }

  .visibilityIconContainer {
    cursor: pointer;
    display: flex;
    padding: min(0.4rem, 1vw);
    border-radius: calc(1rem + 0.2rem);
  }

  .visibilityIconContainer:hover {
    background-color: var(--hover);
  }

  .visibilityIconContainer:active {
    background-color: var(--active);
  }

  .visibilityIconContainer:hover > .visibilityIcon {
    /* color: #ffd700; */
    filter: invert(69%) sepia(97%) saturate(495%) hue-rotate(357deg) brightness(105%) contrast(108%);
  }

  .visibilityIcon {
    width: 1.3rem;
    /* whitesmoke color: */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);
  }

  .formSection {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .flexLabel {
    display: flex;
    flex-direction: column;
  }

  .formListElement {
    display: flex;
    align-items: center;
    gap: 0.5vw;
  }

  .customBullet {
    font-size: 0.6rem;
  }
  
  .formListElement > input,
  .formListElement > textarea {
    flex-grow: 1;
  }
  
  input,
  textarea {
    padding: 0.3rem 0.6rem;
    margin-top: 0.15rem;

    border: 1px solid black;
    border-radius: 4px;
  }

  .deleteBtn {
    display: flex;

    background: none;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  .deleteBtn:hover > .deleteIcon {
    /* pink color: */
    filter: invert(72%) sepia(71%) saturate(261%) hue-rotate(306deg) brightness(103%) contrast(106%);
  }

  .deleteBtn:active > .deleteIcon {
    /* firebrick color */
    filter: invert(17%) sepia(39%) saturate(3711%) hue-rotate(340deg) brightness(122%) contrast(103%);
  }

  .deleteIcon {
    width: 1.1rem;
    /* whitesmoke color: */
    filter: invert(99%) sepia(8%) saturate(128%) hue-rotate(233deg) brightness(112%) contrast(92%);
  }

  .formSeperator {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--font-color);
  }

  /* Preview styling */

  .previewContainer {
    width: 65vw;
    font-family: Garamo;

    /* The following styles break the aspect ratio of the previewPage element: */
    /* display: flex; */
    /* justify-content: center; */
  }

  .previewPage {
    background-color: white;
    color: black;
    margin: 1rem auto;
    box-shadow:  1px 1px 4px rgb(0, 0, 0, 0.6);

    aspect-ratio: 8.5 / 11;
    width: calc(100% - 2rem);
    height: auto;
    max-width: calc((100vh - var(--header-height) - var(--footer-height) - 2rem) * (8.5 / 11));
    max-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);

    line-height: 1.35;
    letter-spacing: 0.15px;
    font-size: clamp(0.35rem, 1.8vw, 0.75rem);
    padding: clamp(0.5rem, 1.5vw, 1rem);
    box-sizing: border-box;
  }

  .previewName {
    font-size: clamp(0.6rem, 3vw, 1.5rem);
    margin-bottom: clamp(0.25rem, 1vw, 0.5rem);
  }

  .previewUserInfo {
    font-size: 1rem;
    font-size: clamp(0.3rem, 1.4vw, 0.88rem);
    border-bottom: 1.5px solid black;
    margin-bottom: clamp(0.25rem, 1vw, 0.5rem);
  }

  .previewSectionHeader {
    border-bottom: 1.5px solid black;
    margin-bottom: 0.2rem
  }

  .bulletedList {
    list-style-type: square;
    list-style-position: inside;
  }

  .previewListItem {
    margin-bottom: clamp(0.25rem, 1vw, 0.5rem);
  }

  .previewFlexContainer {
    display: flex;
    justify-content: space-between;
  }

  .projectFlexContainer {
    display: flex;
  }

  .rightJustify{
    margin-left: auto;
  }

/* Footer styling */

footer {
  margin-top: auto;
  box-shadow: 0 -1px 4px rgb(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: var(--footer-height);
  font-size: clamp(0.6rem, 3vw, 1.2rem);
}

footer > a {
  display: flex;
}

.githubIcon {
  height: clamp(16px, 4vw, 24px);
  transition: transform 0.3s ease-in-out;
}

.githubIcon:hover {
  transform: rotate(-360deg) scale(1.2);
}

/* Mobile styling */

@media only screen and (max-width: 760px) {
    .contentContainer {
    flex-direction: column;
  }

  .formContainer {
    width: unset;
    min-height: 30vh;
  }

  .previewContainer {
    width: unset;
  }

  .previewPage {
    max-width: calc((70vh - var(--header-height) - var(--footer-height) - 2rem) * (8.5 / 11));
    max-height: calc(70vh - var(--header-height) - var(--footer-height) - 2rem);
  }
}

/* This will only apply when printing */
@media print {
  @page {
    margin: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  body * {
    visibility: hidden;
  }

  .previewContainer,
  .previewContainer * {
    visibility: visible;
  }

  .previewContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .previewPage {
    box-shadow: none;
    width: 100%;
    margin: 0 auto;
    padding: 0.5in !important;
    max-width: none;
    aspect-ratio: unset;
    font-size: 12pt;
    line-height: normal;
    letter-spacing: normal;
    box-sizing: border-box;
  }

  .previewName {
    font-size: 24pt;
  }

  .previewUserInfo {
    font-size: 14pt;
  }

  ::marker {
    font-size: 0.8rem;
  }
}
